<div class="row">
  <div class="col-sm-6 col-sm-offset-1">
    <h2>Register</h2>
    <%= form_for :user, url: auth_users_path do |form| %>

      <div class="form-group">
        <strong>First Name:</strong>
        <%= form.text_field :first_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <strong>Last Name:</strong>
        <%= form.text_field :last_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <strong>Email:</strong>
        <%= form.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <strong>Password:</strong>
        <%= form.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <strong>Confirm Password:</strong>
        <%= form.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <%= form.submit 'Register', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
